page-detail {
  .DetailHeading {
    font-weight: 400;
  }

  .SourceHeading {
    font-weight: 400;
  }

  .wikipedia-text {
    white-space: inherit !important;
  }

  .wikipedia-img {
    img {
      height: auto !important;
    }
  }
  .ion-button {
    font-size: small;
  }

  .img-circle {
    border-radius: 50%;
  }

  ion-fab {
    position: fixed !important;
    right: 17px !important;
  }

  .twitter-img {
    img{
      width: 50px;
      height: 50px;
    }
  }
}


